<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="img/case.png" class="logo">
            <img src="img/main-logo.png" id="logo">
           
             <ul>                   <li><a href="/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="btn"><i class="fa-solid fa-microchip"></i>Componente
                   <div class="sub-menu">
                        <ul>
                           <li><a href="/cpu" class="btn">Microprocesor</a></li>
                           <hr>
                           <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                           <hr>
                           <li><a href="/gpu" class="btn">Placa video</a></li>
                           <hr>
                           <li><a href="/ram" class="btn">Memoria RAM</a></li>
                           <hr>
                           <li><a href="/storage" class="btn">Stocare</a></li>
                           <hr>
                           <li><a href="/psu" class="btn">Sursa</a></li>
                           <hr>
                           <li><a href="/case" class="btn">Carcasa</a></li>
                           <hr>
                           <li><a href="/guide" class="btn">Ghid</a></li>
                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/guide" class="btn"><i class="fa-solid fa-book"></i>Ghid</a></li>
               </ul>
               
            </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/eng/case" id="btn"><i class="fa-solid fa-globe"></i>ENG</a></li>
    </ul>
    <br>
        <h1>Carcasa si sistemul de racire</h1>
        <h3>Carcasa</h3>
        <p>Carcasa reprezinta componenta cea mai mare si voluminoasa a unui computer.</p>
        <p>Aceasta este realizata din diferite metale, aliaje si plastic si are rolul de a proteja restul componentelor de praf si alti factori externi, precum socurile fizice.</p>
        <p>Carcasele sunt prevazute din fabrica cu diferite lacasuri pentru montarea componentelor: lacasul pentru placa de baza, lacasul pentru sursa, lacasul pentru hard disk-uri, lacasul pentru unitatile optice, lacasul pentru placa video, lacasul pentru sistemele de racire suplimentare.</p>
        <!--Photo Galery-->
        <img src="img/case1.png" class="pht">
           <br>
        <p>Printre brandurile populare de carcase de piata se pot numara: Aqirys, Cooler Master, Segotep, Lian Li, Corsair.</p>
        <p>In zilele noastre, carcasele dispun de dimensiuni universale (Full-Tower, Mid-Tower, Mini-Tower), putand fi montate in ele aproape majoritatea formatelor de placi de baza.</p>
        <!--Photo Galery-->
        <img src="img/info_pht16.jpg" class="pht">
        <br>
           <h3>Sistemele de racire</h3>
           <p>Pentru o buna functionare a componentelor, un computer personal trebuie sa fie dotat cu un sistem de racire eficient</p>
           <p>Cel mai adesea se recurge la montarea catorva ventilatoare, alimentate pe mufa MOLEX sau 4-pini, in lacasurile special prevazute ale carcasei.</p>
           <!--Photo Galery-->
        <img src="img/info_pht17.png" class="pht">
        <br>
        <p>Pentru computerele personale utilizate in jocuri sau un programe si aplicatii care cu adevarat solicitante, consumatorii prefera sa utilizeze sisteme de racire pe lichid sau sistme AIO (All In One) datorita randamentului lor.</p>
        <p>Printre producatorii uriasi de sisteme de racire performante se numara: Corsair, Noctua, Thermaltake, Aqirys, Cooler Master</p>
        <!--Photo Galery-->
        <img src="img/info_pht18.jpg" class="pht">
        <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
          <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/psu" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
                <ul>
                    <li><a href="/cpu" class="btn">Microprocesor</a></li>
                    <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                    <li><a href="/gpu" class="btn">Placa video</a></li>
                    <li><a href="/ram" class="btn">Memoria RAM</a></li>
                    <li><a href="/storage" class="btn">Stocare</a></li>
                    <li><a href="/psu" class="btn">Sursa</a></li>
                    <li><a href="/case" class="btn">Carcasa</a></li>
                    <li><a href="/guide" class="btn">Ghid</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank">Test</a></li>
                </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Introduce-ti emailul">
        <button type="button" class="email-btn" name="button">Aboneaza-te</button>
     </div>
    </div>
    </body>
</html>