<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="img/gpu.png" class="logo">
            <img src="img/main-logo.png" id="logo">
           
               <ul>
                   <li><a href="/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="btn"><i class="fa-solid fa-microchip"></i>Componente 
                   <div class="sub-menu">
                        <ul>
                           <li><a href="/cpu" class="btn">Microprocesor</a></li>
                           <hr>
                           <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                           <hr>
                           <li><a href="/gpu" class="btn">Placa video</a></li>
                           <hr>
                           <li><a href="/ram" class="btn">Memoria RAM</a></li>
                           <hr>
                           <li><a href="/storage" class="btn">Stocare</a></li>
                           <hr>
                           <li><a href="/psu" class="btn">Sursa</a></li>
                           <hr>
                           <li><a href="/case" class="btn">Carcasa</a></li>
                           <hr>
                           <li><a href="/guide" class="btn">Ghid</a></li>
                     

                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/guide" class="btn"><i class="fa-solid fa-book"></i>Ghid</a></li>
               </ul>
               
            </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/eng/gpu" id="btn"><i class="fa-solid fa-globe"></i>ENG</a></li>
    </ul>
    <br>
           <h1>Placa video</h1>
           <br>
           <P><b>O placă video</b>, adaptor video sau placă grafică este un card de expansiune a cărui funcție este de a genera imagini către un monitor.</P> 
           <p>Multe plăci video au funcții adăugate, precum redarea accelerată de scene 3D și grafică 2D, adaptor TV tuner, decodare MPEG-2/MPEG-4 sau capacitatea de a utiliza mai multe monitoare (multi-monitor),</p>
           <p> RTX(Re-Tra-cing) sau DLSS(Deep Learning Super Sampling).Alte plăci video moderne sunt utilizate pentru scopuri mai "stresante", precum jocurile PC. </p>
           <p> Plăcile video pot fi integrate in procesor la unele PC-uri. Acest cip grafic are de obicei o cantitate mică de memorie și preia o parte din memoria RAM a sistemului principal, reducând astfel memoria RAM totală disponibilă.</p> 
            <p>Aceasta se mai numește grafică integrată care are un nivel scăzut de performanță și este nedorită de cei ce își doresc să ruleze aplicații 3D. Aproape toate plăcile de bază permit dezactivarea graficii integrate prin intemediul BIOS-ului. Pentru acest lucru este necesar ca placa de bază să fie prevăzută cu suport AGP, PCI sau PCI-Express, pentru atașarea unei plăci video dedicate.</p> 

            <p>Plăcile de bază de top permit adăugarea mai multor plăci video, acestea putând fi conectate între ele prin interfața SLI pentru plăcile video produse de NVIDIA, și CrossFire pentru cele produse de AMD.</P>
               <!--Photo GAlery--> 
            <img src="img/gpu1.png" class="pht">
              <br>
              <h3>Progresul istoric</h3>
              <p>In decursul ultimelor decenii, placa video a cunoscut mai multe abordari ale mai multor companii.</p>
              <p>Prima placa video a fost dezvoltata de IBM in 1981 si purta denumirea de MDA (Monochrome Display Adapter) si putea functiona doar in modul text reprezentat de 80 de coloane si 25 de linii (80x25)</p>
              <p>Aceasta avea o memorie de doar 4KB si dispunea de o singura culoare.</p>
                 <!--Photo GAlery--> 
            <img src="img/info_pht8.jpg" class="pht">
            <br>
            <h3>Geforce 256</h3>
            <p>Gefroce 256 a fost prima placa video propriu-zisa lansata de catre compania Nvidia in anul 1999.</p>
            <p>Pentru acea vreme, Geforce 256 a reprezentat un lucru revolutionar, aceasta avand o tehnologie de 220nm, un procesor grafic NV10 si suporta DirectX 7.0.</p>
             <!--Photo GAlery--> 
             <img src="img/info_pht9.jpg" class="pht">
             <br>
             <p><b>*Nota: DirectX</b> este un set de programe responsabile cu sarcinile multimedia, precum redarea video si audio, realizat de catre compania Microsoft. (versiune actuala - DirectX 12)</p>
             <br>
             <h3>GDDR (Graphic Double Data Rate)</h3>
             <p>GDDR este un tip de memorie video cu rata dubla de redare (DDR) special conceputa pentru utilizarea cu placile video. GDDR se deosebeste fata de DDR prin frecvente si latente diferite</p>
             <p>GDDR este accesatade catre unitatea de procesare grafica si contine, de asemenea, simplificari ale interfetei electrice si o latime de banda mare, avand, in plus, un consum mai mic de energie.</p>
             <p>Prima memorie GDDR a fost introdusa in 1998 de Samsung ca un cip de memorie DDR-SDRAM de 16Mb.</p>
             <p>De-a lungul timpului au fost dezvoltate mai multe generatii GDDR, fiecare generatie fiind mai rapida si mai imbunatatita: GDDR, GDDR 2, GDDR 4, GDDR 5, GDDR 6 (versiunea actuala). </p>
             <!--Photo GAlery--> 
             <img src="img/info_pht10.png" class="pht">
             <br>
        
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/motherboard" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/ram" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
                <ul>
                  <li><a href="/cpu" class="btn">Microprocesor</a></li>
                  <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                  <li><a href="/gpu" class="btn">Placa video</a></li>
                  <li><a href="/ram" class="btn">Memoria RAM</a></li>
                  <li><a href="/storage" class="btn">Stocare</a></li>
                  <li><a href="/psu" class="btn">Sursa</a></li>
                  <li><a href="/case" class="btn">Carcasa</a></li>
                  <li><a href="/guide" class="btn">Ghid</a></li>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank">Test</a></li>
                </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Introduce-ti emailul">
        <button type="button" class="email-btn" name="button">Aboneaza-te</button>
     </div>
    </div>
    </body>
</html>