<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="img/hdd.png" class="logo">
            <img src="img/main-logo.png" id="logo">
           
               <ul>
                   <li><a href="/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="btn"><i class="fa-solid fa-microchip"></i>Componennte 
                   <div class="sub-menu">
                        <ul>
                            <li><a href="/cpu" class="btn">Microprocesor</a></li>
                                <hr>
                                <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                                <hr>
                                <li><a href="/gpu" class="btn">Placa video</a></li>
                                <hr>
                                <li><a href="/ram" class="btn">Memoria RAM</a></li>
                                <hr>
                                <li><a href="/storage" class="btn">Stocare</a></li>
                                <hr>
                                <li><a href="/psu" class="btn">Sursa</a></li>
                                <hr>
                                <li><a href="/case" class="btn">Carcasa</a></li>
                                <hr>
                                <li><a href="/guide" class="btn">Ghid</a></li>
                          
                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/guide" class="btn"><i class="fa-solid fa-book"></i>Ghid</a></li>
               </ul>
               
            </div>
           </nav>  
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/eng/storage" id="btn"><i class="fa-solid fa-globe"></i>ENG</a></li>
    </ul>
    <br>
           <h1>Stocare</h1>
        <br>
        <p>Cand vine vorba de stocarea datelor ale unui computer personal, exista mai multe dispozitive responsabile cu aceasta sarcina:</p>
        <h3>Hard Dsk (HDD)</h3>
        <p>HDD-ul este un dispozitiv electronic-mecanic pentru stocarea datelor, fiind si o memorie nevolatila (pastreaza datele memorate dupa oprirea tensiunii).</p>
        <p>Stocarea datelor se face pe o suprafata magnetica dispusa pe platane rotunde metalice rigide. In general discurile rigide sunt utilizate ca suport de stocare extern principal pentru servere si computere personale, dar si pentru anumite aparate electronice (playere si recordere DVD, playere MP3).</p> 
        <p>Daca la inceputuri capacitatea unui HDD nu depasea 20 megaocteti (MO) = 20 megabait (MB), astazi un HDD obisnuit poate depăși 30,7 teraocteti (TO) = 30,7 terabaiti (TB).</p>
        <p>Totodata, pentru a conecta un HDD la un computer este necesar ca acesta sa fie cablat la placa de baza printr-un cablu SATA (Serial ATA) si la sursa de alimentare.</p>
        <p>Pe piata exitsa o multime de branduri producatoare de HDD-uri, cele mai populare fiind Western Digital si Seagate.</p>
        <!--Photo Galery-->
        <img src="img/info_pht13.jpg" class="pht">
        <br>
        <h3>Solid State Drive (SSD)</h3>
           <p>Un <b>solid state drive </b> este un dispozitiv de stocare a datelor care folosește memorii cu semiconductori. </p>
            <p>SSD-urile se deosebesc de Hard Diskurile clasice, care sunt dispozitive electromecanice cu discuri de stocare aflate în mișcare, prin aceea că SSD-urile folosesc numai microcipuri care rețin datele în memorii nevolatile, fără să aibă părți mobile.</p>
            <p> SSD-urile sunt mai rezistente la șocurile mecanice, având timp de acces mai scăzut dar preț pe megabyte mai mare.</p>
            <p>La fel ca un HDD, SSD-urile sunt conectate la placa de baza printr-un cablu SATA (Serial ATA) si la sursa de alimentare.</p>
            <p>Piata de solid state driveuri dispune de o gama larga de branduri producatoare, precum Samsung, Western Digital, Kingston, Crucial, Intel, Adata.</p>
            <!--Photo Galery-->
            <img src="img/hdd1.png" class="pht">
            <br>
            <h3>Non-volatile Memory Express Solid State Drive (NVMe SSD)</h3>
            <p>La fel ca HDD-urile si SSD-urile, SSD-urile de tip NVMe sunt dispozitie de stocare a datelor cu o memorie nevolatila.</p>
            <p>Totusi, un lucru aparte care justifica diferente de pret dintr-un SSD obisnuit si un NVMe este reprezentat de timpul de acces.</p>
            <p>NVMe-ul are un timp de acces dublu fata de un SSD obisnuit, fapt datorat de montarea directa a acestuia direct pe placa de baza printr-un slot de tip M.2, fara a se mai pierde performanta printr-un cablu SATA. </p>
            <p>Printre marii producatori de SSD-uri de tip NVMe, se numara: Samsung, Western Digital, Kingston, Crucial, Intel, Adata.</p>
            <!--Photo Galery-->
            <img src="img/info_pht14.png" class="pht">
            <br>
            <h3>Serial ATA (SATA)</h3>
            <p>SATA este o interfata seriala ce conecteaza calculatorul la dispozitive de stocare, cum ar fi hard disk, SSD si unitati optice (CD, DVD).</p>
            <p>Unitatile SATA sunt utilizate de majoritatea computerelor personal si pe configuratiile hardware de server.</p>
            <p>Pe parcursul anilor au aparut mai multe versiuni SATA:</p>
            <p>SATA 1.0 lansat in 2003 avea o rata de transmisea a datelor de 1.5Gb/s.</p>
            <p>SATA 2.0 lansat in 2004 avea o rata de transmisea a datelor de 3Gb/s.</p>
            <p>SATA 3.0 lansat in 2009 avea o rata de transmisea a datelor de 6Gb/s.</p>
            <p>SATA 3.1 lansat in 2011.</p>
            <p>SATA 3.2 lansat in 2013.</p>
            <p>SATA 3.3 lansat in 2016.</p>
            <p>SATA 3.4 lansat in 2018.</p>
            <p>SATA 3.5 lansat in 2020.</p>
            <!--Photo Galery-->
            <img src="img/info_pht15.jpg" class="pht">
            <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/ram" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/psu" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
                <ul>
                    <li><a href="/cpu" class="btn">Microprocesor</a></li>
                    <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                    <li><a href="/gpu" class="btn">Placa video</a></li>
                    <li><a href="/ram" class="btn">Memoria RAM</a></li>
                    <li><a href="/storage" class="btn">Stocare</a></li>
                    <li><a href="/psu" class="btn">Sursa</a></li>
                    <li><a href="/case" class="btn">Carcasa</a></li>
                    <li><a href="/guide" class="btn">Ghid</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank">Test</a></li>
                </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Introduce-ti emailul">
        <button type="button" class="email-btn" name="button">Aboneaza-te</button>
     </div>
    </div>
    </body>
</html>