<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="img/motherboard.png" class="logo">
            <img src="img/main-logo.png" id="logo">
           
               <ul>
                   <li><a href="/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="btn"><i class="fa-solid fa-microchip"></i>Componente 
                   <div class="sub-menu">
                        <ul>
                            <li><a href="/cpu" class="btn">Microprocesor</a></li>
                                <hr>
                                <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                                <hr>
                                <li><a href="/gpu" class="btn">Placa video</a></li>
                                <hr>
                                <li><a href="/ram" class="btn">Memoria RAM</a></li>
                                <hr>
                                <li><a href="/storage" class="btn">Stocare</a></li>
                                <hr>
                                <li><a href="/psu" class="btn">Sursa</a></li>
                                <hr>
                                <li><a href="/case" class="btn">Carcasa</a></li>
                                <hr>
                                <li><a href="/guide" class="btn">Ghid</a></li>
                          

                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/guide" class="btn"><i class="fa-solid fa-book"></i>Ghid</a></li>
               </ul>
               
            </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/eng/motherboard" id="btn"><i class="fa-solid fa-globe"></i>ENG</a></li>
    </ul>
    <br>
           <h1>Placa de baza</h1>
           <br>
           <p><b>Placa de bază</b> reprezinta o componenta esentiala a unui computer, aceasta fiind un circuit integrat principal la care sunt montate si conectate restul componentelor hardware. </p>
           <p>Placa de baza contine magistrale care permit datelor unui computer sa circule intre toate componentele hardware.</p>
           <p>De-a lungul anilor, pe piata s-au remarcat o multime de branduri producatoare de  placi de baza, precum Gigabyte, MSI, Intel, Asrock, fiecare aducand cu o noua generatie si o noua tehnologie si multe alte functii.</p>
           <br>
           <h3>Componentele unei placi de baza</h3>
           <ul>
            <li>Soclu microprocesor</li>
            <li>Sloturi RAM</li>
            <li>Mufa de alimentare</li>
            <li>Mufe USB 2.0, 3.0, 3.1</li>
            <li>Mufe SATA</li>
            <li>Mufe IDE</li>
            <li>Baterie BIOS</li>
            <li>Chip BIOS</li>
            <li>Alimentrae ventilator 4 pini</li>
            <li>Alimentari 4 pini extra</li>
            <li>Mufe panou frontal</li>
            <li>Sloturi PCI-Expres</li>
            <li>Mufe iesire (USB 2.0, USB 3.0, VGA, DVI, HDMI, Audio)</li>
           </ul>
           <br>
               <!--Photo Galery-->
           <img src="img/info_pht5.jpg" class="pht">
           <br>
            <h3>Dimensiunile unei placi de baza de-a lungul timpului</h3>
            <p>Placile de baza au cunoscut, prin evolutie, multiple forme si dimensiuni.</p>
            <ul>
                <li>Dimensiunea <b>XT 216mm x 279mm</b> creata in 1983.</li>
                   <!--Photo Galery-->
           <img src="img/info_pht6.jpg" class="pht">
           <br><br>
           <li>Dimensiunile <b>ATX </b>(cele mai populare si folosite): <b>eATX 305mm x 330mm</b> <b> ATX 305mm x 244mm.</b> creata in 1995; <b>microATX: 244mm x 244mm </b>creata in 1997.</li>
                        <!--Photo Galery-->
           <img src="img/info_pht7.png" class="pht">
           <br><br>
           <li>Dimensiunile <b>ITX</b>: <b>Mini-ITX 170mm x 170mm</b> creata in 2003; <b>Nano-ITX 120mm x 120mm</b> creata in 2004; <b>Pico-ITX 100mm x 72mm</b> creata in 2007.</li>
            </ul>

                
            <img src="img/compare.jpg" class="pht">
            <br>
           
        <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
              <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/cpu" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/gpu" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
                <ul>
                    <li><a href="/cpu" class="btn">Microprocesor</a></li>
                    <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                    <li><a href="/gpu" class="btn">Placa video</a></li>
                    <li><a href="/ram" class="btn">Memoria RAM</a></li>
                    <li><a href="/storage" class="btn">Stocare</a></li>
                    <li><a href="/psu" class="btn">Sursa</a></li>
                    <li><a href="/case" class="btn">Carcasa</a></li>
                    <li><a href="/guide" class="btn">Ghid</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank">Test</a></li>
                </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Introduce-ti emailul">
        <button type="button" class="email-btn" name="button">Aboneaza-te</button>
     </div>
    </div>
    </body>
</html>