<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="img/hdd.png" class="logo">
            <img src="img/main-logo.png" id="logo">
           
               <ul>
                   <li><a href="/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="btn"><i class="fa-solid fa-microchip"></i>Componente 
                   <div class="sub-menu">
                        <ul>
                            <li><a href="/cpu" class="btn">Microprocesor</a></li>
                            <hr>
                            <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                            <hr>
                            <li><a href="/gpu" class="btn">Placa video</a></li>
                            <hr>
                            <li><a href="/ram" class="btn">Memoria RAM</a></li>
                            <hr>
                            <li><a href="/storage" class="btn">Stocare</a></li>
                            <hr>
                            <li><a href="/psu" class="btn">Sursa</a></li>
                            <hr>
                            <li><a href="/case" class="btn">Carcasa</a></li>
                            <hr>
                            <li><a href="/guide" class="btn">Ghid</a></li>
                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/guide" class="btn"><i class="fa-solid fa-book"></i>Ghid</a></li>
               </ul>
               
            </div>
           </nav>  
           <br>
           
        </div>
       </div>
       <div class="content">
        <br>
        <ul>
            <li><a href="/eng/psu" id="btn"><i class="fa-solid fa-globe"></i>ENG</a></li>
    </ul>
    <br>
        <h1>Sursa de alimentare</h1>
     <p><b>Sursa de alimentare</b> sau blocul de alimentare este o componentă vitala a unui computer, care alimenteaza cu energie electrica toate celelalte componente cu cantitatea exacta de curent de care au nevoie si astfel asigura functionarea lor.</p> 
        <p>Puterea absorbita de la o sursa de energie casnica de mare voltaj (100 - 240V) este convertita în energie de curent continuu de mic voltaj (3,3 - 12V) cu ajutorul componentelor active și pasive, prin tehnologia sursei de alimentare in comutație, realizându-se totodată o mare stabilitate a tensiunii la diverse absorții de putere din partea componentelor hardware.</p> 
        <p>Pentru o buna funcționare a surselor acestea sunt dotate cu radiatoare și ventilatoare pentru asigurarea unui flux de aer din mediu extern.</p>
        <p>Pe piata s-au remarcat o multime de companii producatoare de surse de alimentare, cum ar fi: Aqirys, Cooler Master, Lian Li, Seasonic, nJoy, Corsair, Zalman.</p>
        <p>O categorie performanta de surse de alimentare este reprezentata de categoria <b>surselor modulare</b>care permit utilizatorului sa detaseze cablurile pentru ale inlocui cu altele noi.</p>
        <!--Photo Galery-->
         <img src="img/psu1.png" class="pht">
           <br>
           <p>Conectorii cu care o sursa de alimentare trebuie sa fie prevazuta: </p>
           <ul>
            <li>Conector placa de baza 20+4 pini</li>
            <li>Conector pentru SATA de 15 pini</li>
            <li>Conector de alimentare cu 4 pini</li>
            <li>Conector de alimentare cu 6+2 pini</li>
            <li>Conector de alimentare 8 pini</li>
            <li>Conectori alimentare MOLEX</li>
           </ul>
           <br>
           <!--Photo Galery-->
         <img src="img/info_pht19.jpg" class="pht">
         <br>
   
     <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/storage" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/case" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
                <ul>
                    <li><a href="/cpu" class="btn">Microprocesor</a></li>
                    <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                    <li><a href="/gpu" class="btn">Placa video</a></li>
                    <li><a href="/ram" class="btn">Memoria RAM</a></li>
                    <li><a href="/storage" class="btn">Stocare</a></li>
                    <li><a href="/psu" class="btn">Sursa</a></li>
                    <li><a href="/case" class="btn">Carcasa</a></li>
                    <li><a href="/guide" class="btn">Ghid</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank">Test</a></li>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Introduce-ti emailul">
        <button type="button" class="email-btn" name="button">Aboneaza-te</button>
     </div>
    </div>
    </body>
</html>