<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="img/ram.png" class="logo">
            <img src="img/main-logo.png" id="logo">
           
               <ul>
                <li><a href="/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                <li class="btn"><i class="fa-solid fa-microchip"></i>Componente 
                   <div class="sub-menu">
                        <ul>
                            <li><a href="/cpu" class="btn">Microprocesor</a></li>
                            <hr>
                            <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                            <hr>
                            <li><a href="/gpu" class="btn">Placa video</a></li>
                            <hr>
                            <li><a href="/ram" class="btn">Memoria RAM</a></li>
                            <hr>
                            <li><a href="/storage" class="btn">Stocare</a></li>
                            <hr>
                            <li><a href="/psu" class="btn">Sursa</a></li>
                            <hr>
                            <li><a href="/case" class="btn">Carcasa</a></li>
                            <hr>
                            <li><a href="/guide" class="btn">Ghid</a></li>
                      

                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/guide" class="btn"><i class="fa-solid fa-book"></i>Ghid</a></li>
               </ul>
               
            </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/eng/ram" id="btn"><i class="fa-solid fa-globe"></i>ENG</a></li>
    </ul>
    <br>
        <h1>Memoria RAM</h1>
        <br>
        <p><b>Memoria RAM (random acces memory)</b> reprezinta spatiul unde ajung datele si informatiile unui computer inainte de a fi prelucrate de catre microprocesor.</p>
        <p>Memoria RAM influenteaza in mod direct performanta si viteza unui computer. Cu cat acesta are mai mult RAM, cu atat este mai rapid si mai performant.</p>
        <p>Memoria RAM este o memorie volatila (pierde informatiile instantaneu la intreruperea alimentarii cu tensiune), aceasta ridicand-use la unul dintre cele mai inalte nivele de viteze dintre memoriile existente.</p>
        Printre producatorii de memorii RAM de pe piata se numara: Kingston, Corsair, Crucial, Pretec, Samsung, Viking.
            <!--Photo Galery-->
              <img src="img/ram1.png" class="pht">
              <br>
              <h3>Clasificarea Memoriei RAM</h3>
              <p>In prezent, memoria RAM folosita de catre consumatori poarta denumirea de <b>Double Data Rate Synchronous Dynamic Random Access Memory </b> (DDR SDRAM)</p>
              <p>Cand vine vorba de memoriile SDRAM, exista 5 generatii de tehnologie DDR:
                <br><br>
                <h4>DDR (Double Data Rate)</h4>
                <p>Primele memorii DDR au apărut împreună cu calcualtoarele care aveau un procesor de peste 1 Ghz destinate publicului larg. Memoriile DDR1 au o capacitate de maxim 1 Gb pe placuta, si o viteza de transfer intre 200-400 Mhz.</p>
                <br>
                <h4>DDR2 (Double Data Rate 2)</h4>
                <p>Memoriile DDR2 au o capacitate de maxim 4GB pe placuta si o viteza de transfer a datelor intre 400-1066 Mhz.</p>
                <br>
                <h4>DDR3 (Double Data Rate 3)</h4>
                <p>Memoriile DDR3 au o capaciate de maxim 16 GB pe placuta si o viteza de transfer a datelor intre 1.066-2.133 Mhz.</p>
                <br>
                <h4>DDR4 (Double Data Rate 4)</h4>
                <p>Memoriile DDR4 au o capacite de maxim de 64 GB pe placuta si o viteza de transfer a datelor între 2.133-3.333 Mhz.</p>
                <br>
                <h4>DDR5 (Double Data Rate 5)</h4>
                <p>Memoriile DDR5 au o capacite de maxim de 128 GB pe placuta si o viteza de transfer a datelor între 4.800-8.400 Mhz.</p>
                <!--Photo Galery-->
              <img src="img/info_pht11.png" class="pht">
              <br>
              <p><b>*Nota: DDR(Double Data Rate)</b>= un tip de memorie cu acces aleator, al carei nume provine de la tehnica transferarii datelor atat pe frontul crescator, cat si pe frontul descrescator al semnalului de ceas.</p>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
         <!--Photo Galery-->
         <img src="img/info_pht12.png" class="pht">
         <br>

        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/gpu" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/storage" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
                <ul>
                    <li><a href="/cpu" class="btn">Microprocesor</a></li>
                    <li><a href="/motherboard" class="btn" >Placa de baza</a></li>
                    <li><a href="/gpu" class="btn">Placa video</a></li>
                    <li><a href="/ram" class="btn">Memoria RAM</a></li>
                    <li><a href="/storage" class="btn">Stocare</a></li>
                    <li><a href="/psu" class="btn">Sursa</a></li>
                    <li><a href="/case" class="btn">Carcasa</a></li>
                    <li><a href="/guide" class="btn">Ghid</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank">Test</a></li>
                </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Introduce-ti emailul">
        <button type="button" class="email-btn" name="button">Aboneaza-te</button>
     </div>
    </div>
    </body>
</html>