<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="/img/cpu.png" class="logo">
            <img src="/img/main-logo.png" id="logo">
           
               <ul>

                   <li><a href="/eng/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                   <!--HoverList-->
                <li class="btn"><i class="fa-solid fa-microchip"></i>Components 
                   <div class="sub-menu">
                        <ul>
                            <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                            <hr>
                            <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                            <hr>
                            <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                            <hr>
                            <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                            <hr>
                            <li><a href="/eng/storage" class="btn">Storage</a></li>
                            <hr>
                            <li><a href="/eng/psu" class="btn">Power supply</a></li>
                            
                            <hr>
                            <li><a href="/eng/case" class="btn">Case</a></li>

                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/eng/guide" class="btn"><i class="fa-solid fa-book"></i>Guide</a></li>
               </ul>
                  
                   </div> 
                </li>
                  
               
            </div>
           </nav> 
          
           
        </div>
       </div>
       <div class="content">
        <br>
        <ul>
            <li><a href="/cpu" id="btn"><i class="fa-solid fa-globe"></i>RO</a></li>
    </ul>
    
           <br>
           <h2>The Microprocessor</h2>
          <br>
        
          <p> <b>The Microprocesor </b>is the main component of a computing system that is responsible for receiving instructionas from a program or application and performing a computation.</p>
          <p>This process is divided into three key stages: acquisition, decoding and execution. A microprocessor fetches the instruction from RAM, decodes what the instruction actually is, and then executes the instruction using its parts.</p>
          <p>essential. From a technical point of view, the microprocessor is presented as a chip, an integrated circuit containing millions of transistors encapsulated in a ceramic shell (for protection and heat dissipation).</p> 
          <p>Each microprocessor is made up of several micromodules interconnected by internal communication paths called buses. These buses carry data or instructions.</p>
            <!--Photo Galery-->
            <img src="/img/Info_pht0.png" class="pht">
            <br>
            <h2>Historical progress</h2>
            <br>
            <h3>The first transistors</h3>
            <p>The first major step in the history of processors was the advent of transistors in the early 1950s. With this innovation, the 1950s and 1960s brought much more complex and reliable transistor processors. </p>
            <p>At the same time, the method of building processors on integrated circuits appeared, and with the evolution of microelectronics, processors became smaller and more efficient.</p>
               <!--Photo Galery-->
           <img src="/img/Info_pht1.jpg" class="pht">
           <br>
           <h3>Moore's Law</h3>
           <p>Moore's Law is a long-term study in the history of computing systems, conducted by Gordon Moore since 1965, which states that the number of transistors in a microprocessor doubles every two years or so.</p>
              <!--Photo Galery-->
              <img src="/img/Info_pht2.png" class="pht">
              <br>
              <h3>Intel 8080</h3>
              <p><b>Intel 8080</b>, later known as the Intel 8080B was the second microprocessor produced by Intel in 1974.</p>
              <p>This represented a huge step forward in the evolution of microprocessors, going from a frequency of 2 MHz to 3.125 MHz.</p>
            <!--Photo Galery-->
            <img src="/img/info_pht3.jpg" class="pht">
            <br>
            <h2>Microprocessor market giants: Intel & AMD</h2>
            <p>Today, there are two giant microprocessor companies on the market, competing in every generation, making huge technological advances.</p>
            <h3>Intel</h3>
            <p>Over the years, Intel microprocessors have captured a high percentage of consumers.</p>
            <p>They stand out for their performance in relation to their electricity consumption and temperatures, regardless of generation:</p>
                <div class="info-table">
                    <table>
                    <tr>
                        <th>Generation</th>
                        <th>Year of aparition</th>
                        <th>Technology</th>
                        <th>Architecture</th>
                        <th>Number of cores</p>
                        <th>Frequency</th>
                        <th>Integrated graphic card</th>
                        <th>Socket</th>
                    </tr>
                    <tr>
                      <td>Nehalem (1st generation) </td>
                      <td>2008</td>
                      <td>45nm</td>
                      <td>x86-64</td>
                      <td>1-4</td>
                      <td>1.06-3.33Ghz</td>
                      <td>-</td>
                      <td>LGA 1156, LGA 1366</td>
                    </tr>
                    <tr>
                        <td>Sandy Bridge (2nd generation)</td>
                        <td>2011</td>
                        <td>32nm</td>
                        <td>x86-64</td>
                        <td>1-4 (4-6 Extreme)</td>
                        <td>1.60-3.60Ghz</td>
                        <td>HD Graphics, HD Graphics 2000, HD Graphics 3000, HD Graphics P3000</td>
                        <td>LGA 1155, LGA 2011</td>
                    </tr>
                    <tr>
                        <td>Ivy Bridge(3rd generation)</td>
                        <td>2012</td>
                        <td>22nm</td>
                        <td>x86-64</td>
                        <td>2-4</td>
                        <td>1.10-4.10Ghz</td>
                        <td>HD Graphics 2500, HD Graphics 4000, HD Graphics P4000</td>
                        <td>LGA 1155, LGA 2011</td>
                    </tr>
                    <tr>
                        <td>Haswell (4th generation)</td>
                        <td>2013</td>
                        <td>22nm</td>
                        <td>x86-64</td>
                        <td>2-4 (6-8 enthusiast)</td>
                        <td>2.00-4.10GHz</td>
                        <td>HD Graphics 4200, HD Graphics 4400, HD Graphics 4600, HD Graphics 5000, Iris 5100, Iris Pro 5200</td>
                        <td>LGA 1150, LGA 2011-v3</td>
                    </tr>
                    <tr>
                        <td>Broadwell (5th generation)</td>
                        <td>2014</td>
                        <td>14nm</td>
                        <td>x86-64</td>
                        <td>2-4 (6-10 enthusiast)</td>
                        <td>1.10-4.00GHz</td>
                        <td>HD 5300, HD 5500, HD 5700P, HD 6000, HD 6100, HD 6200, HD 6300P, HD Graphics,</td>
                        <td>LGA 1150, LGA 2011-v3</td>
                    </tr>
                    <tr>
                        <td>Skylake (6th generation)</td> 
                        <td>2015</td>
                        <td>14nm</td> 
                        <td>x86-64</td>
                        <td>2-8</td> 
                        <td>1.10-4.50Ghz</td> 
                        <td>HD 510, HD 530, Iris Pro 580</td> 
                        <td>LGA 1151, LGA 2066</td> 
                    </tr>
                    <tr>
                        <td>Kaby Lake (7th generation)</td>
                        <td>2016</td>
                        <td>14nm</td>
                        <td>x86-64</td>
                        <td>2-4</td>
                        <td>1,00Ghz-4.5Ghz</td>
                        <td>HD 610, HD 615, HD 620, HD 630, HD P630, UHD 620, Iris Plus 640, Iris Plus 650</td>
                        <td>LGA 1151, LGA 2066</td>
                    </tr>
                    <tr>
                        <td>Coffee Lake (8th and 9th generation )</td>
                        <td>2017</td>
                        <td>14nm</td>
                        <td>x86-64</td>
                        <td>2-8</td>
                        <td>1.40-5.0Ghz</td>
                        <td>UHD 610, UHD 620, UHD 630</td>
                        <td>LGA 1151v2</td>
                    </tr>
                    <tr>
                        <td>Comet Lake (10th generation)</td>
                        <td>2019</td>
                        <td>14nm</td>
                        <td>x86-64</td>
                        <td>2-10</td>
                        <td>1.60Ghz-5.30Ghz</td>
                        <td>UHD 610, UHD 630, UHD 620, UHD P630 </td>
                        <td>LGA 1200</td>
                    </tr>
                    <tr>
                        <td>Tiger Lake (11th generation)</td>
                        <td>2020</td>
                        <td>10nm</td>
                        <td>x86-64</td>
                        <td>2-8</td>
                        <td>1.50-5.00Ghz</td>
                        <td>UHD, Iris Xe</td>
                        <td>LGA 1200</td>
                    </tr>
                    <tr>
                        <td>Alder Lake (12th generation)</td>
                        <td>2021</td>
                        <td>10nm</td>
                        <td>x86-64</td>
                        <td>2-8</td>
                        <td>1.0-5.5Ghz</td>
                        <td>UHD 710, UHD 730, UHD 770, Iris Xe Graphics</td>
                        <td>LGA 1700</td>
                    </tr>
                </table>
            </div>
            <br>
            
            <!--Photo Galery-->
           <img src="/img/cpu1.png" class="pht">
           <br>
           <h3>AMD</h3>
           <p>Over time it has been proven that performance usually comes through competition, so even in the microprocessor market there are competitors.</p>
           <p>Intel's main competitor is <b>AMD</b>, a giant microprocessor and graphics technology company.</p>
           <p>AMD has also left its mark on the evolution of microprocessors with its powerful generations, distinguished by its large number of cores and high frequencies.</p>
           <p>AMD also holds the record for the world's most powerful processor, called <b>AMD Ryzen ThreadRipper 3990X</b> which has 64 cores and 128 threads.</p>
             <!--Photo Galery-->
             <img src="/img/info_pht4.jpg" class="pht">
             <br>
             <p>Successful generations of AMD microprocessors include:</p>
             <ul>
                <li>Microprocessors with K8 architecture 2003-2014 (Opteron, Athlon 64 FX, Sempron, Athlon 64 X2)</li>
                <li>Microprocessors with K10 architecture 2007-2013</li>
                <li>Microprocessors with Zen architecture 2017-present</li>
             </ul>
             <br>
             <div class="info-table">
                <table>
                    <tr>
                        <th>Series</th>
                        <th>Model</th>
                        <th>Year of aparition</th>
                        <th>Popular exemples</th>
                    </tr>
                    <tr>
                        <td>Zen</td>
                        <td>Ryzen 1000</td>
                        <td>2017</td>
                        <td>Ryzen 3 1300X, Ryzen 5 1600x, Ryzen 7 1700x, Ryzen Threadripper 1920X</td>
                    </tr>
                    <tr>
                        <td>Zen+</td>
                        <td>Ryzen 2000</td>
                        <td>2018</td>
                        <td>Ryzen 3 2300X, Ryzen 5 2600X, Ryzen 7 2700X, Ryzen Threadripper 2920X</td>
                    </tr>
                    <tr>
                        <td>Zen 2</td>
                        <td>Ryzen 3000</td>
                        <td>2019</td>
                        <td>Ryzen 3 3100, Ryzen 5 3600, Ryzen 7 3800X, Ryzen 9 3900, Ryzen Threadripper 3960X</td>
                    </tr>
                    <tr>
                        <td>Zen 3</td>
                        <td>Ryzen 5000</td>
                        <td>2020</td>
                        <td>Ryzen 5 5500, Ryzen 7 5700X, Ryzen 9 5900X, Ryzen Threadripper PRO 5945WX</td>
                    </tr>
                </table>
             </div>

        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
          <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/eng/guide" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/eng/motherboard" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
            <ul>
                <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                <li><a href="/eng/storage" class="btn">Storage</a></li>
                <li><a href="/eng/case" class="btn">Case</a></li>
                <li><a href="/eng/psu" class="btn">PSU</a></li>
                <li><a href="/eng/guide" class="btn">Guide</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank"">Test</a></li>
            </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Add your email">
        <button type="button" class="email-btn" name="button">Subscribe</button>
     </div>
    </div>
    </body>
</html>