<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    
    </head>
    <body>
      <!--TopMenu-->

       <div class="header">
        <nav>
            <img src="/img/guide.png" class="logo">
            <img src="/img/main-logo.png" id="logo">
           
               <ul>
            <li><a href="/eng/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
            <!--HoverList-->
         <li class="btn"><i class="fa-solid fa-microchip"></i>Components 
            <div class="sub-menu">
                 <ul>
                     <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                     <hr>
                     <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                     <hr>
                     <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                     <hr>
                     <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                     <hr>
                     <li><a href="/eng/storage" class="btn">Storage</a></li>
                     <hr>
                     <li><a href="/eng/psu" class="btn">Power supply</a></li>
                     
                     <hr>
                     <li><a href="/eng/case" class="btn">Case</a></li>

                 </ul>
           
            </div> 
         </li>
            <li><a href="/eng/guide" class="btn"><i class="fa-solid fa-book"></i>Guide</a></li>
        </ul>
                  
               
               
            </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <!--Main Text Part 1-->
       <div class="content">
        <br>
        <ul>
            <li><a href="/guide" id="btn"><i class="fa-solid fa-globe"></i>RO</a></li>
    </ul>
    <br>
        <h2>Guide to building a personal computer</h2>
        <br>
        <h3>Budget and purpose of a personal computer </h3>
        <p>The modern times we live in offer us a wide range of components. Whether you're a gaming enthusiast or work in the office, there are a variety of possibilities to choose from.</p>
        <p>If you want to build a personal computer yourself, you need to have a budget and a purpose for that computer in mind.</p>
        <p>If you are passionate about games or if you use demanding software but have a tight budget, you need to choose your components as balanced as possible.</p>
        <p>For example, if you choose to invest in a higher performance video card, but only have money left over for a weaker processor and less RAM, you risk the <b>Bottleneck</b> phenomenon.</p>
        <p>For the office sector, things are not quite the same. It is recommended to opt for a fast processor (Intel I3 10100, AMD Ryzen 3 3200G) with an integrated video card.</p>
        <p>Also, the motherboard and RAM must be taken into account.</p>
        <br>
        <!--Photo Galery-->
            <img src="/img/guide_pht1.png" class="pht">

        <p><b>*Notw: Bottleneck</b> = the phenomenon in which the whole system is slowed down because of the difference in performance between two or more components.</p>
        <br>
                    <!--Procesor-->
        <h3>Choosing the microprocessor</h3>
        <p>Currently, there are two giants when it comes to the production and marketing of microprocessors, <b>Intel</b> and <b>AMD</b>.</p>
        <p>The choice between these two companies has become preferential over time, with performance between the newer generations becoming similar.</p>
        <p>However, there are some differences, as the two processors only work on one type of motherboard socket.</p>
        <p><b>Intel</b> only works on LGA socket depending on generation:</p>
        <p>LGA 775(Pentium, Celeron, Core 2), LGA 1366(I7 900 Series), LGA 1155(2nd and 3rd generation), LGA 1150(4th generation), LGA1 1151(6th and 7th generation), </p>
        <p>LGA 1151 v2(8th and 9th generation) LGA 1200(10th, 11th generation) si LGA 1700(12th generation).</p>
        <p>Instead, <b>AMD</b> runs on its own PGA sockets:</p>
        <p>PGA AM2(Athlon 64, 64X), PGA AM2+(Athlon 64, Athlon X2, Phenom, Phenom II), PGA AMD3(Phenom II, Athlon II, Sempron, Opteron), PGA AM3+(AMD FX, Phenom II, AThlon II, Sempron),</p>
        <p> PGA AM4(Athlon 200, Ryzen 3, Ryzen 5, Ryzen 7, Ryzen 9). </p>
         <!--Photo Galery-->
         <img src="/img/guide_pht2.jpg" class="pht">
         <br>
         <p><b>*Note: Socket</b> = the slot on the motherboard where the microprocessor is inserted. The number next to it represents the number of pins of the microprocessor (e.g. Socket 1150 - 1150 pins).</p>
         <br>
                    <!--Placa de baza-->
         <h3>Choosing the motherboard</h3>
         <p>Like processors, there are a variety of motherboard models, each with more spectacular technologies</p>  
         <p>On the market, there are several motherboard manufacturers, such as Asus, Gigabyte, ASRock, MSI, Biostar and many others.</p>
         <p>To choose the perfect motherboard we have to take into account the processor generation (different sockets), speed and RAM technology (133Mhz, 1600Mhz, 3200Mhz, respectively DDR2, DDR3, DDR4),</p>
         <p>but also its sizes: Mini-ITX, Micro-ITX (the most used), ATX and EATX (Extenden ATX), to fit in the case slots.</p>
 
            <!--Photo Galery-->
         <img src="/img/guide_pht3.jpg" class="pht">
         <br>
                    <!--PLaca video-->
         <h3>Choosing the video card</h3>
         <p>In the case of video cards, there are 2 major manufacturers on the market: <b>Nvidia and AMD.</b></p>
         <p>As with microprocessors, the choice of one of these two companies became a matter of consumer preference.</p>
         <p>However, each company stands out for its own characteristics:</p>
         <p>Nvidia produces powerful models (RTX 3060, RTX 2070, GTX 1080, GTX 1660 TI) with proprietary technologies (Nvidia 3D Vision, DLSS, RTX) that run at low temperatures, but at a higher price than AMD's models.</p>
         <p>Similarly, AMD produces powerful models (RX 6800 XT, RX 5700XT, RX 5500XT, RX 570) with proprietary technologies (AMD Rqdeon ANti-Lag, AMD Freesync, AMD Smart Access Memory) that run at higher temperatures than Nvidia.</p>
         <p>An important factor of video cards is their memory, which can range from 1Gb to 24Gb.</p>
         <p>Similar to ram memory, they are developed with GDDR technology (GDDR3, GDDR5, GDDR6).</p>
         <p>All video cards, regardless of their age, have outputs for connection to a monitor/video projector. Most models now have DVI/HDMI/DisplayPort ports (the latest).</p>
        <!--Photo Galery-->
        <img src="/img/guide_pht4.png" class="pht">
        <br>
                    <!--Memoria RAM-->
        <h3>Choosing RAM memory</h3>
        <p>With the evolution of technology, RAM has become faster and more affordable.</p>
        <p>Memory RAM manufacturers on the market include Kingston, Corsair, Crucial, Pretec, Samsung, Viking.</p>
        <p>The compatibility with the motherboard (DDRx technology, but also its capacity) should be taken into account when choosing the appropriate RAM memory.
        <p>and with the microprocessor (frequency at which it runs, e.g. 2666Mhz).</p>
        <p>Too often an important factor that makes the difference between RAM memories is the latency representative. The lower the latency, the faster the RAM memory.</p>
        <p>RAM can run on the motherboard in: Single Channel (only one RAM card inserted on the motherboard - not recommended),</p>
        <p>in Dual Channel (two RAM cards that must run at the same frequency and latency - most recommended),</p>
        <p>in Quad Channel (four RAM cards that must run at the same frequency and latency - motherboard must be equipped with 4 RAM slots), but also mixed</p>
        <p>in groups of 3 cards (not recommended and unnecessary, losing a lot of performance).</p>
            <!--Photo Galery-->
            <img src="/img/guide_pht5.jpg" class="pht">
            <br>
            <p><b>*Notw: Latency</b> = the number of cycles/second RAM can process when it has something to do.</p>
            <p><b>*Note: Frequency</b> = RAM processing speed per second measured in MHz.</p>
            <br>
                    <!--Stoacrea: HDD/SSD/NVMe-->
            <h3>Storage</h3>
            <p>30, 40 years ago data storage was a big problem for the computer world, it was always too little, too slow and too expensive.</p> 
            <p>Nowadays we can say that we are living in lucky times, because the process of storage evolution is a long one</p>
            <p>From a capacity of just a few Kb and low speeds, storage devices have reached fabulous capacities of a few Tb and speeds of up to 32 Gb/s</p>
            <p>There are now plenty of storage device manufacturers on the market, such as Samsung, Western Digital, Seagate, Kingston, Crucial, Intel, Adata.</p>
            <p>The storage devices include: HDD (Hard Disk Device - can reach speeds up to 200 Mb/s), SSD (Solid State Driver - can reach speeds up to 6 Gb/s).</p>
            <p>and NVMe SSD(nonvolatile memory express - can reach speeds up to 32 Gb/s).</p>
            <p>HDDs and SSDs are connected to the motherboard via a SATA (Serial ATA) cable, while the NVMe SSD is attached directly to the motherboard via an M2-type socket.</p>
            <p>Recommended, for building a personal computer, is to mount a HDD (500Gb+ for applications and games) and a SATA or NVMe SSD (256Gb+ for operating system and applications that require higher operating speed).</p>
           <!--Photo Galery-->
           <img src="/img/guide_pht6.png" class="pht">
           <br>
                    <!--Sursa de alimentare-->
            <h3>Choosing the power Supply</h3>
            <p>Most of the time, in assembling a personal computer, one of the most important aspects of a computer system, the power supply, is ignored.</p>
            <p><b>The power supply</b> is the component without which the computer cannot start and run. Whether the computer is used for office or gaming, it requires a power supply with a large enough capacity </p>
            <p>pentru a mentine functionabilitatea, intr-un mod corespunzator, a tuturor componetntelor.</p>
            <p>When it comes to manufacturers, there is a wide range of brands, such as Aqirys, Cooler Master, Lian Li, Seasonic, nJoy, Corsair, Zalman.
            <p>For an office computer a maximum of 450W is recommended, while gaming systems require at least 500W real power (minimum Bronze Certificate).</p>
             <!--Photo Galery-->
           <img src="/img/guide_pht8.png" class="pht">
           <br>
                  

                    <!--Carcasa-->
                <h3>Choosing the case and cooling system</h3>
                <p>It may not look like it, but the case is an important factor in building a personal computer.</p>
                <p>Major manufacturers of enclosures and cooling systems on the market include: Cooler Master, NZXT, Aqirys, Corsair, Lian Li, Be Quiet!, Thermaltake.</p>
                <p>Whether you intend to assemble a computer for gaming or office, the case has the same roles of protecting the rest of the components from dust and other external factors and maintaining the coolest temperature.</p>
                <p>Case enclosures have come to be fitted with a variety of cooling systems, from MOLEX or 4-pin plug fans to complex liquid-cooled systems (AIO, used especially in computers with high-performance components).</p>
                <p>They are also equipped with special slots for: power supply (can be positioned up/down), motherboard, video card outputs, HDD, SSD, additional fans, DVD-ROM</p>
                 <!--Photo Galery-->
           <img src="/img/guide_pht7.png" class="pht">
           <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
    <br>
       </div>
       <!--Bottom Menu-->
            <div class="footer">
                <hr>
                <!--Arrows: prev/next-->
                <a href="/eng/" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
                <a href="/eng/cpu" class="next"><i class="fa-solid fa-arrow-right"></i></a>
                <div class="footer-menu">
                    <ul>
                        <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                        <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                        <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                        <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                        <li><a href="/eng/storage" class="btn">Storage</a></li>
                        <li><a href="/eng/case" class="btn">Case</a></li>
                        <li><a href="/eng/psu" class="btn">PSU</a></li>
                        <li><a href="/eng/guide" class="btn">Guide</a></li>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank"">Test</a></li>
                    </ul>
                   </div> 
             <br>
             <h1 class="owner-link">Prof. Popa Gabriela</h1>
             <!--Newsletter-->
             <div class="email-box">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" class="box" placeholder="Add your email">
                <button type="button" class="email-btn" name="button">Subscribe</button>
             </div>
            </div>
       
    </body>
</html>