<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="/img/hdd.png" class="logo">
            <img src="/img/main-logo.png" id="logo">
           <ul>
            <li><a href="/eng/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
            <!--HoverList-->
         <li class="btn"><i class="fa-solid fa-microchip"></i>Components 
            <div class="sub-menu">
                 <ul>
                     <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                     <hr>
                     <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                     <hr>
                     <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                     <hr>
                     <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                     <hr>
                     <li><a href="/eng/storage" class="btn">Storage</a></li>
                     <hr>
                     <li><a href="/eng/psu" class="btn">Power supply</a></li>
                     
                     <hr>
                     <li><a href="/eng/case" class="btn">Case</a></li>

                 </ul>
           
            </div> 
         </li>
            <li><a href="/eng/guide" class="btn"><i class="fa-solid fa-book"></i>Guide</a></li>
        </ul>
               
            </div>
           </nav>  
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/storage" id="btn"><i class="fa-solid fa-globe"></i>RO</a></li>
    </ul>
    <br>
           <h1>Storage</h1>
        <br>
        <p>When it comes to storing the data of a personal computer, there are several devices responsible for this task:</p>
        <h3>Hard Dsk (HDD)</h3>
        <p>HDD is an electronic-mechanical device for storing data, being also a non-volatile memory (it keeps the stored data after power off).</p>
        <p>Data storage is done on a magnetic surface arranged on rigid round metal platters. In general, hard disks are used as the primary external storage medium for servers and personal computers, but also for certain electronic devices (DVD players and recorders, MP3 players).</p> 
        <p>Where in the early days the capacity of a HDD did not exceed 20 megabytes (MO) = 20 megabytes (MB), today a typical HDD can exceed 30.7 terabytes (TO) = 30.7 terabytes (TB).</p>
        <p>To connect a HDD to a computer, it is necessary to connect it to the motherboard via a SATA (Serial ATA) cable and to the power supply.</p>
        <p>There are a lot of HDD brands on the market, the most popular being Western Digital and Seagate.</p>
        <!--Photo Galery-->
        <img src="/img/info_pht13.jpg" class="pht">
        <br>
        <h3>Solid State Drive (SSD)</h3>
        <p>A <b>solid state drive</b> is a data storage device that uses solid state memories. </p>
        <p>SSDs differ from traditional hard disks, which are electromechanical devices with moving storage disks, in that SSDs use only microchips that hold data in non-volatile memory with no moving parts.</p>
        </p> SSDs are more resistant to mechanical shock, having lower access time but higher price per megabyte.</p>
        <p>Like a HDD, SSDs are connected to the motherboard via a SATA (Serial ATA) cable and power supply.</p>
        <p>Solid state drives feature a wide range of manufacturer brands, such as Samsung, Western Digital, Kingston, Crucial, Intel, Adata.</p>
            <!--Photo Galery-->
            <img src="/img/hdd1.png" class="pht">
            <br>
            <h3>Non-volatile Memory Express Solid State Drive (NVMe SSD)</h3>
            <p>Like HDDs and SSDs, NVMe SSDs are data storage devices with non-volatile memory.</p>
            <p>However, one particular thing that justifies the price difference between a regular SSD and an NVMe is access time.</p>
            <p>NVMe has double the access time of a regular SSD, which is due to mounting it directly to the motherboard via an M.2 slot, without losing performance via a SATA cable. </p>
            <p>Major manufacturers of NVMe SSDs include: Samsung, Western Digital, Kingston, Crucial, Intel, Adata.</p>
            <!--Photo Galery-->
            <img src="/img/info_pht14.png" class="pht">
            <br>
            <h3>Serial ATA (SATA)</h3>
            <p>SATA is a serial interface that connects the computer to storage devices such as hard drives, SSDs and optical drives (CD, DVD).</p>
            <p>SATA drives are used by most personal computers and on server hardware configurations.</p>
            <p>Over the years several SATA versions have appeared:</p>
            <p>SATA 1.0 released in 2003 had a data rate of 1.5Gb/s.</p>
            <p>SATA 2.0 released in 2004 had a data rate of 3Gb/s.</p>
            <p>SATA 3.0 released in 2009 had a data rate of 6Gb/s.</p>
            <p>SATA 3.1 released in 2011.</p>
            <p>SATA 3.2 released in 2013.</p>
            <p>SATA 3.3 released in 2016.</p>
            <p>SATA 3.4 released in 2018.</p>
            <p>SATA 3.5 released in 2020.</p>
            <!--Photo Galery-->
            <img src="/img/info_pht15.jpg" class="pht">
            <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/eng/ram" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/eng/psu" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
            <ul>
                <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                <li><a href="/eng/storage" class="btn">Storage</a></li>
                <li><a href="/eng/case" class="btn">Case</a></li>
                <li><a href="/eng/psu" class="btn">PSU</a></li>
                <li><a href="/eng/guide" class="btn">Guide</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank"">Test</a></li>
            </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Add your email">
        <button type="button" class="email-btn" name="button">Subscribe</button>
     </div>
    </div>
    </body>
</html>