<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    
    </head>
    <body>
      <!--TopMenu-->

       <div class="header">
        <nav>
            <img src="/img/list.png" class="logo">
            <img src="/img/main-logo.png" id="logo">
           
               <ul>

                   <li><a href="/eng/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
                   <!--HoverList-->
                <li class="btn"><i class="fa-solid fa-microchip"></i>Components 
                   <div class="sub-menu">
                        <ul>
                            <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                            <hr>
                            <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                            <hr>
                            <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                            <hr>
                            <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                            <hr>
                            <li><a href="/eng/storage" class="btn">Storage</a></li>
                            <hr>
                            <li><a href="/eng/psu" class="btn">Power supply</a></li>
                            
                            <hr>
                            <li><a href="/eng/case" class="btn">Case</a></li>

                        </ul>
                  
                   </div> 
                </li>
                   <li><a href="/eng/guide" class="btn"><i class="fa-solid fa-book"></i>Guide</a></li>
               </ul>
               
            </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <!--Main Text Part 1-->
       <div class="content">
        <br>
        <ul>
                <li><a href="/" id="btn"><i class="fa-solid fa-globe"></i>RO</a></li>
        </ul>
        <br>
        <h2>What is a personal computer?</h2>
        <br>
        <p>A <b>personal computer</b>  is a computing machine that can process data and information according to a list of instructions called <b>program</b>.</p>   
        <p>In other words, the personal computer is the device that has completely changed the evolution of society, managing to achieve incredible performance</p>
        <p>With the passage of time, they started to become more affordable and reliable. At the same time, nowadays personal computers are equipped with more or less powerful components, depending on the user's need, with larger and more impressive cooling systems and even RGB lights. </p>

                <!--SLideshow-->
        <div class="slider">
            <div class="slide-track">
                 <div class="slide">
                      <img src="/img/slideshow1.jpg" >
                </div>
                <div class="slide">
                       <img src="/img/slideshow2.jpg" >
                 </div>
                 <div class="slide">
                         <img src="/img/slideshow3.jpg" >
                </div>
                 <div class="slide">
                       <img src="/img/slideshow4.jpg" >
                 </div>
                 <div class="slide">
                         <img src="/img/slideshow5.jpg" >
                 </div>
                <div class="slide">
                         <img src="/img/slideshow6.jpg" >
                </div>
                <div class="slide">
                         <img src="/img/slideshow7.jpg" >
                </div>
                <div class="slide">
                         <img src="/img/slideshow8.jpg" >
                </div>
                <div class="slide">
                          <img src="/img/slideshow9.jpg" >
                </div>

                <div class="slide">
                        <img src="/img/slideshow1.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow2.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow3.jpg" >
                </div>
                <div class="slide">
                         <img src="/img/slideshow4.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow5.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow6.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow7.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow8.jpg" >
                </div>
                <div class="slide">
                        <img src="/img/slideshow9.jpg" >
                </div>

        

    </div>
   </div>
            <!--Main Text Part 2-->

   <h2>Historical Progress</h2>
   <br>
    <h3>Altair 8800</h3>
   <br>
   <p>The first fully programmable digital electronic computer was created during World War II in Britain in 1944.</p>
   <p>Its purpose was to help British cryptanalysts crack the Lorenz code used by the Germans.</p>
   <p>Years later, in 1975 the MITS company succeeded in making the first personal computer, called <b>Altair 8800</b>, which had an <b>Intel 8080</b> microprocessor and 256 bytes of memory.</p>

        
 
            <img src="/img/altair1.jpg" class="pht">
         <br>
   <h3>Apple</h3>
   <p>One of the first revolutionary personal computers was the Apple II. It was designed by Apple founders Steve Jobs and Steve Wozniak in 1977.</p>
   <p>The device was equipped with a screen, keyboard and data storage device.</p>
   <p>The Apple II had an 8-bit architecture, a MOS Technology 6502 microprocessor running at 1 Mhz, 4kb of RAM and ran on the Apple DOS operating system.</p>

        <!--Photo Galery-->
 
        <img src="/img/apple.jpg" class="pht">
        <br>
        <h3>MS-DOS and Apple DOS operating systems</h3>
        <p><b>MS-DOS</b> is an operating system developed by the famous <b>Microsoft</b> company in the 1980s, based on the Intel 8086 family of processors and designed specifically for IBM computers.</p>
        <p>After 8 versions of the operating system and much technological progress, Microsoft decided to stop development in 2000.</p>

        <!--Photo Galery-->

        <img src="/img/MSDOS.png" class="pht">
        <br>
        <br>
        <b>Apple DOS </b> was the first operating system developed by Apple for their personal computer series <b>Apple II</b>.</b>
        <p>The first version of the operating system, <b>Apple DOS 3.1</b> was released in June 1978. </p>
        <p>Because of multiple bugs and poor reliability, Apple DOS was abandoned and replaced by a new operating system developed by Apple in 1983 called <b>ProDOS</b>.</p>
        </div>
        
        <!--Photo Galery-->
        <img src="/img/APPLEDOS.webp" class="pht">

        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
    <br>
       </div>
       <!--Bottom Menu-->
            <div class="footer">
                <hr>
                <a href="/eng/case" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
                <a href="/eng/guide" class="next"><i class="fa-solid fa-arrow-right"></i></a>
                <div class="footer-menu">
                        <ul>
                            <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                            <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                            <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                            <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                            <li><a href="/eng/storage" class="btn">Storage</a></li>
                            <li><a href="/eng/case" class="btn">Case</a></li>
                            <li><a href="/eng/psu" class="btn">PSU</a></li>
                            <li><a href="/eng/guide" class="btn">Guide</a></li>
                            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank"">Test</a></li>
                        </ul>
                   </div> 
             <br>
             <h1 class="owner-link">Prof. Popa Gabriela</h1>
             <div class="email-box">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" class="box" placeholder="Add your email">
                <button type="button" class="email-btn" name="button">Subscribe</button>
             </div>
             
            </div>
            
       
    </body>
</html>