<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="/img/hdd.png" class="logo">
            <img src="/img/main-logo.png" id="logo">
           
         <ul>     
            <li><a href="/eng/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
            <!--HoverList-->
         <li class="btn"><i class="fa-solid fa-microchip"></i>Components 
            <div class="sub-menu">
                 <ul>
                     <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                     <hr>
                     <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                     <hr>
                     <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                     <hr>
                     <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                     <hr>
                     <li><a href="/eng/storage" class="btn">Storage</a></li>
                     <hr>
                     <li><a href="/eng/psu" class="btn">Power supply</a></li>
                     
                     <hr>
                     <li><a href="/eng/case" class="btn">Case</a></li>

                 </ul>
           
            </div> 
         </li>
            <li><a href="/eng/guide" class="btn"><i class="fa-solid fa-book"></i>Guide</a></li>
        </ul>
                   </div> 
              
           </nav>  
           <br>
           
        </div>
       </div>
       <div class="content">
        <br>
        <ul>
            <li><a href="/psu" id="btn"><i class="fa-solid fa-globe"></i>RO</a></li>
    </ul>
    <br>
        <h1>Power supply</h1>
        <p><b>The power supply</b> or power block is a vital component of a computer, which supplies all other components with the exact amount of power they need and thus ensures their operation.</p> 
        <p>Power absorbed from a high-voltage (100 - 240V) household power source is converted to low-voltage (3.3 - 12V) DC power using active and passive components through switching power supply technology, while achieving high voltage stability at various power draws from hardware components.</p> 
        <p>For a good functioning of the sources they are equipped with radiators and fans to ensure a flow of air from the external environment.</p>
        <p>The market has seen a lot of power supply companies such as: Aqirys, Cooler Master, Lian Li, Seasonic, nJoy, Corsair, Zalman.</p>
        <p>A high performance category of power supplies is the <b>modular</b> category which allows the user to detach the cables to replace them with new ones.</p>
        <!--Photo Galery-->
         <img src="/img/psu1.png" class="pht">
           <br>
           <p>The connectors with which a power supply must be provided: </p>
           <ul>
            <li>20+4 pin motherboard connector</li>
            <li>15-pin SATA connector</li>
            <li>4-pin power connector</li>
            <li>6+2 pin power connector</li>
            <li>8-pin power connector</li>
            <li>MOLEX power connectors</li>
           </ul>
           <br>
           <!--Photo Galery-->
         <img src="/img/info_pht19.jpg" class="pht">
         <br>
   
     <br>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/eng/storage" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/eng/case" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
            <ul>
                <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                <li><a href="/eng/storage" class="btn">Storage</a></li>
                <li><a href="/eng/case" class="btn">Case</a></li>
                <li><a href="/eng/psu" class="btn">PSU</a></li>
                <li><a href="/eng/guide" class="btn">Guide</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank"">Test</a></li>
            </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Add your email">
        <button type="button" class="email-btn" name="button">Subscribe</button>
     </div>
    </div>
    </body>
</html>