<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>PcComplexity</title>
        <script src="https://kit.fontawesome.com/017f1c0c45.js" crossorigin="anonymous"></script>
    </head>
    <body>
      

       <div class="header">
        <nav>
            <img src="/img/ram.png" class="logo">
            <img src="/img/main-logo.png" id="logo">
           
               <ul>
            <li><a href="/eng/" class="btn"><i class="fa-solid fa-house"></i>Home</a></li>
            <!--HoverList-->
         <li class="btn"><i class="fa-solid fa-microchip"></i>Components 
            <div class="sub-menu">
                 <ul>
                     <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                     <hr>
                     <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                     <hr>
                     <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                     <hr>
                     <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                     <hr>
                     <li><a href="/eng/storage" class="btn">Storage</a></li>
                     <hr>
                     <li><a href="/eng/psu" class="btn">Power supply</a></li>
                     
                     <hr>
                     <li><a href="/eng/case" class="btn">Case</a></li>

                 </ul>
           
            </div> 
         </li>
            <li><a href="/eng/guide" class="btn"><i class="fa-solid fa-book"></i>Guide</a></li>
        </ul>
                   </div>
           </nav> 
           <br>
           
        </div>
       </div>
       <div class="content">
           <br>
           <ul>
            <li><a href="/ram" id="btn"><i class="fa-solid fa-globe"></i>RO</a></li>
    </ul>
    <br>
        <h1>RAM Memory</h1>
        <br>
        <p><b>RAM (random access memory)</b> is the space where a computer's data and information ends up before being processed by the microprocessor.</p>
        <p>RAM directly influences the performance and speed of a computer. The more RAM a computer has, the faster and more powerful it is.</p>
        <p>RAM is a volatile memory (it loses information instantly when the power supply is interrupted), and it has one of the highest speeds of any memory.
        Among the RAM manufacturers on the market are Kingston, Corsair, Crucial, Pretec, Samsung, Viking.
            <!--Photo Galery-->
              <img src="/img/ram1.png" class="pht">
              <br>
              <h3>RAM Classification</h3>
              <p>Nowadays, RAM used by consumers is called <b>Double Data Rate Synchronous Dynamic Random Access Memory</b> (DDR SDRAM)</p>
              <p>When it comes to SDRAM, there are 5 generations of DDR technology:
                <br><br>
                <h4>DDR (Double Data Rate)</h4>
                <p>The first DDR memories appeared with the first CPUs with a processor above 1 Ghz for the general public. DDR1 memories have a maximum capacity of 1 Gb per board, and a transfer speed of 200-400 Mhz.</p>
                <br>
                <h4>DDR2 (Double Data Rate 2)</h4>
                <p>DDR2 memories have a maximum capacity of 4GB per board and a data transfer speed between 400-1066 Mhz.</p>
                <br>
                <h4>DDR3 (Double Data Rate 3)</h4>
                <p>DDR3 memories have a maximum capacity of 16 GB per board and a data transfer speed between 1.066-2.133 Mhz.</p>
                <br>
                <h4>DDR4 (Double Data Rate 4)</h4>
                <p>DDR4 memory has a maximum capacity of 64 GB per board and a data transfer speed of 2,133-3,333 MHz.</p>
                <br>
                <h4>DDR5 (Double Data Rate 5)</h4>
                <p>DDR5 memory has a maximum capacity of 128 GB per board and a data transfer speed between 4,800-8,400 MHz.</p>
                <!--Photo Galery-->
              <img src="/img/info_pht11.png" class="pht">
              <br>
              <p><b>*Note: DDR(Double Data Rate)</b>= a type of random access memory, whose name comes from the technique of transferring data on both the rising and falling edges of the clock signal.</p>
        <a href="#" class="up"><i class="fa-solid fa-angle-up"></i></a>
         <!--Photo Galery-->
         <img src="/img/info_pht12.png" class="pht">
         <br>

        <br>
       </div>
       <div class="footer">
        <hr>
        <a href="/eng/gpu" class="prev"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/eng/storage" class="next"><i class="fa-solid fa-arrow-right"></i></a>
        <div class="footer-menu">
               
            <ul>
                <li><a href="/eng/cpu" class="btn">Microprocessor</a></li>
                <li><a href="/eng/motherboard" class="btn" >Motherboard</a></li>
                <li><a href="/eng/gpu" class="btn">Graphic card</a></li>
                <li><a href="/eng/ram" class="btn">RAM memory</a></li>
                <li><a href="/eng/storage" class="btn">Storage</a></li>
                <li><a href="/eng/case" class="btn">Case</a></li>
                <li><a href="/eng/psu" class="btn">PSU</a></li>
                <li><a href="/eng/guide" class="btn">Guide</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd_dnUTv7r1b77osQJ6x22jt2PM9P_LlXQrcq48BetbyGeK5g/viewform?usp=sf_link" class="btn" target="_blank"">Test</a></li>
            </ul>
           </div> 
     <br>
     <h1 class="owner-link">Prof. Popa Gabriela</h1>
     <div class="email-box">
        <i class="fa-solid fa-envelope"></i>
        <input type="email" class="box" placeholder="Add your email">
        <button type="button" class="email-btn" name="button">Subscribe</button>
     </div>
    </div>
    </body>
</html>